<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input type="text" placeholder="Nome" name="nome" required ngModel #nome="ngModel">
        @if (form.submitted && nome.invalid) {
            <p class="text-danger">Il nome è obbligatorio</p>
        }
    <input type="text" placeholder="Cognome" name="cognome" required ngModel #cognome="ngModel">
        @if (form.submitted && cognome.invalid) {
            <p class="text-danger">Il cognome è obbligatorio</p>
        }
    <input type="email" placeholder="Email" name="email" email required ngModel #email="ngModel">
        @if (form.submitted && email.invalid) {
            <p class="text-danger">Email non valida</p>
        }
    <input type="tel" placeholder="Telefono" name="telefono" required ngModel #telefono="ngModel">
        @if (form.submitted && telefono.invalid) {
            <p class="text-danger">Telefono obbligatorio</p>
        }
    <input type="text" placeholder="Indirizzo di spedizione" name="indirizzo" ngModel required #indirizzo="ngModel">
        @if(form.submitted && indirizzo.invalid) {
            <p class="text-danger">Indirizzo obbligatorio</p>
        }

    <button type="submit" class="btn-conferma-prenotazione">Prenota videogame</button>

    @if(successMessage) {
        <p [class]="classStyle">{{ successMessage }}</p>
    }



    
    
</form>

